*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: rgb(7, 7, 7);
}

i, svg{
    pointer-events: none;
}

.kick-pad, .snare-pad, .hihat-pad{
    width: 4rem;
    height: 4rem;
    margin: 0.5rem 0.5rem;
    cursor: pointer;
}

.kick-pad{
    background: rgb(61, 61, 61);
}
.snare-pad{
    background: rgb(61, 61, 61);
}
.hihat-pad{
    background: rgb(61, 61, 61);
}

.kick-pad.active{
    background: linear-gradient(to bottom right, rgb(33, 126, 150), rgb(69, 208, 243));
}
.snare-pad.active{
    background: linear-gradient(to bottom right, rgb(122, 17, 96), rgb(219, 98, 189)); 
}
.hihat-pad.active{
    background: linear-gradient(to bottom right, rgb(167, 93, 9), rgb(250, 161, 60));
}

.sequencer{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    color: white;
}

.hihat-track, .snare-track, .kick-track{
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    margin-top: 2rem;
}

.kick, .snare, .hihat{
    display: flex;
}

.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem 2rem;
}

.controls button{
    padding: 1rem;
    border: none;
    background: rgb(61, 61, 61);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.pad{
    transition: all 0.5s ease;
}

.play{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: rgb(61, 61, 61);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 2rem;
}

select{
    padding: 1rem;
    font-size: 1rem;
    margin-left: 1rem;
    background: rgb(61, 61, 61);
    color: white;
    border-style: none;
}

.mute.active{
    background: rgb(196, 40, 12);
}

.tempo{
    margin: 2rem;
    width: 30%;
}

.tempo-slider{
    padding: 0.2rem;
    -webkit-appearance: none;
    margin: 0.5rem 0rem;
    width: 100%;
    position: relative;
    background: rgb(61, 61, 61);
    cursor: pointer;
    border-radius: 1rem;
    color: white;
}
.tempo p{
    font-size: 1.5rem;
    margin: 0.5rem;
    text-align: center;
    color: white;
}

@keyframes playTrack{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}